[user]
	name = Devansh Sharma
[init]
	defaultBranch = main
[core]
	excludesFile = ~/.config/git/.gitignore
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[pull]
	rebase = true
[diff]
	context = 3
