:root {
  --uc-urlbar-min-width: 40vw;
  --uc-urlbar-max-width: 40vw;
}

#star-button-box {
  display: none !important;
}

#urlbar[breakout] {
  top: unset !important;
}

#urlbar[breakout][breakout-extend] {
  top: 3px !important;
}

.tabbrowser-tab {
  font-family: JetBrainsMonoNL Nerd Font Mono !important;
  font-size: 15px !important;
}

.tabbrowser-tab[selected] {
  border: 1px solid var(--uc-identity-colour-blue) !important;
}

#home-button {
  display: none !important;
}

toolbaritem#urlbar-container {
  font-family: "JetBrainsMonoNL Nerd Font Mono" !important;
  font-size: 15px !important;
}

label#urlbar-one-offs-header-label {
  display: none;
}

#statuspanel #statuspanel-label {
  background-color: var(--uc-base-colour) !important;
  color: var(--uc-inverted-colour) !important;
}
